version: '3.8'
services:
  redis:
    image: redis:5
    container_name: leaderboard-redis
    hostname: leaderboard-redis
    restart: always
    networks:
      - leaderboard-demo
  api:
    build:
      context: .
    env_file:
      - .env
    image: leaderboard-api
    container_name: leaderboard-api
    ports:
    - 5000:5000
    volumes:
    - ./seed.json:/seed.json
    - ./public:/public
    restart: always
    depends_on:
      - redis
    networks:
      - leaderboard-demo
networks:
  leaderboard-demo:
    driver: bridge

